# Visual Studio / Rider / .NET
**/[Bb]in/
**/[Oo]bj/
*.user
*.suo
*.userprefs
*.rsuser
*.sln.docstates

# Build outputs
*.dll
*.exe
*.appx
*.appxbundle
*.msi
*.nupkg

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
.nuget/packages/
packages/

# Coverage
coverage/
 TestResults/

# Generated
docs/*.svg~

# Docker
**/.docker/
**/obj/Docker/*
